---
http_interactions:
- request:
    method: get
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/New%20York,%20NY/next7days?contentType=json&include=days&key=<WEATHER_API_KEY>&unitGroup=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"queryCost":1,"latitude":40.7146,"longitude":-74.0071,"resolvedAddress":"New
        York, NY, United States","address":"New York, NY","timezone":"America/New_York","tzoffset":-4.0,"days":[{"datetime":"2025-04-07","datetimeEpoch":1743998400,"tempmax":50.5,"tempmin":39.8,"temp":44.4,"feelslikemax":50.5,"feelslikemin":33.2,"feelslike":40.7,"dew":35.6,"humidity":72.8,"precip":0.169,"precipprob":100.0,"precipcover":54.17,"preciptype":["rain"],"snow":0.0,"snowdepth":0.0,"windgust":21.9,"windspeed":14.0,"winddir":32.4,"pressure":1008.8,"cloudcover":96.9,"visibility":5.5,"solarradiation":21.0,"solarenergy":1.9,"uvindex":1.0,"severerisk":10.0,"sunrise":"06:29:19","sunriseEpoch":1744021759,"sunset":"19:27:32","sunsetEpoch":1744068452,"moonphase":0.32,"conditions":"Rain,
        Overcast","description":"Cloudy skies throughout the day with a chance of
        rain throughout the day.","icon":"rain","stations":["KEWR","KLGA","F1417","KNYC"],"source":"comb"},{"datetime":"2025-04-08","datetimeEpoch":1744084800,"tempmax":47.9,"tempmin":36.0,"temp":43.3,"feelslikemax":44.9,"feelslikemin":25.1,"feelslike":35.5,"dew":21.0,"humidity":44.5,"precip":0.0,"precipprob":10.0,"precipcover":0.0,"preciptype":null,"snow":0.0,"snowdepth":0.0,"windgust":39.1,"windspeed":25.3,"winddir":293.7,"pressure":1008.0,"cloudcover":35.7,"visibility":8.7,"solarradiation":241.8,"solarenergy":21.0,"uvindex":7.0,"severerisk":10.0,"sunrise":"06:27:43","sunriseEpoch":17441080[...]
